@model List<Actor> 

@{ 
    ViewData["Title"] = "List of Actors";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                    <th> @Html.DisplayNameFor(Model => Model.First().profilepictureUrl)</th>

                    <th> @Html.DisplayNameFor(Model => Model.First().FullName)</th>

                    <th> @Html.DisplayNameFor(Model => Model.First().Bio)</th>

                    <th> Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
            {
                <tr>
                    <td class="align-middle">
                        <img src="@item.profilepictureUrl" alt="@item.FullName" style="max-width:50px; border-radius:50px;"/>
                    </td>

                    <td class="align-middle">
                        @Html.DisplayFor(ModelItem => item.FullName)

                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.Bio)
                    </td>

                    <td class="align-middle">
                        <a class="btn btn-primary" asp-controller="Actors" asp-action="Edit"> <i class="bi bi-pencil-square"></i>Edit </a>
                            <a class="btn btn-primary" asp-controller="Actors" asp-action="Details"><i class="bi bi-eye" />All </a>
                            <a class="btn btn-primary" asp-controller="Actors" asp-action="Delete"> <i class="bi bi-trash" />Delete</a>
                    </td>


                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<div  style="position:fixed; right: 25px; bottom: 150px; "class="text-white">
    <a asp-controller="Actors" asp-action="Create" class="btn btn-success" ><i class="bi bi-plus-circle"></i> Create</a>
</div>
